 .heroSection {
    font-family: 'Roboto', sans-serif;
    color: #333;
    text-align: center;
    padding: 100px 20px;
    background: #DAEBFF;
    /* background: #c1d8f0; */
}
  
.main{
    margin: 100px;
}

.main h1 {
    margin-bottom: 16px;
    font-size: 3.5rem;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
  
.main p {
    margin-top:40px;
    margin-bottom:40px;
    color: #666;
    font-size: 2rem;
}


.btn {
    padding: 20px 80px;
    margin: 0 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    transition: background-color 0.3s ease;
    background-color: 	#4663ac;
    color: white;
    font-size: 33px;
    justify-content: center;
    align-items: center;

}   

.featuresHeader{
    margin-top: 50px;
    margin: 10px;
    font-size: 2.5rem;
}

.btn:hover {
    background-color: #9BBEC8;
}
  
.featuresBox {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 60px;
}
  
.box {
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 50px 50px;
    width: 280px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    
}
  
.box:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.15);
    background-color: #f0f0f0;
}
  
.title {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 1.5rem;
}
  
.info {
    font-weight: 400;
    color: #333;
}

.icon {
    font-size: 35px; 
    color: #427d9d; 
    margin-bottom: 15px;
}

.iconSparkles{
    font-size: 35px;
    margin-right: 8px;
    
}
  
footer {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}
