body {
    background: linear-gradient(to right, #c4dfdf, #d2e9e9, #e3f4f4, #f8f6f4);
    font-family: 'Roboto', sans-serif;
}

.allSidebarWords {
    /* background-color: antiquewhite; */
    border-left: 3px solid black;
}

.sidebar {
    float: left;
    /* width: 300px; */
    /* margin-left: 30px; */
    font-size: 18px; 
    font-weight: bold;
    display: flex;
    flex-direction: column;
    padding: 20px; 
    height: calc(100vh - 72px);
    /* background-color: aliceblue; */
    position: sticky;
    top: 72px;
    
}

.sidebarElement {
    /* background: #7ca9cd; */
    /* border-radius: 25px; */
    margin: 10px 0;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for 3D effect */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    text-decoration: none;

}

.sidebarElement:hover {
    background-color: #f0f0f0; 
    transform: translateY(-2px); /* Small lift effect on hover */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Enhanced shadow on hover */
}

.icon {
    font-size: 20px; 
    color: #427d9d; 
    margin-right: 15px; /* Space between icon and text */
}

.word {
    color: #333;
}
