.modalContainer {
    background-color: #c1d7f5;
    /* box-shadow: 0px 0px 10px #999; */
    margin-top: 10px;
    width: 265px;
    height: 270px;
    /* background-color: #ffffb8; */
    background-color: transparent;

    /* box-shadow: 0px 0px 10px rgba(0.1, 0.1, 0.1, 0.1); */
    /* position: fixed; */
    /* bottom: 100px;
    display: f'${props => props.isOpen ? 'block' : 'none'}';
    left: 60px;
    max-width: 320px;
    z-index: 1000;
    */
    position: relative;
}

.postItIcon {
    position: absolute;
    top: -14px;
    left: 0px;
    width: 250px;
    height: 300px;
    z-index: -1;
}

.modalContent {
    margin: 22px 0px 0px 17px;
}

.modalHeader {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 22px;
}

.calendarIcon {
    width: 23px;
    margin-right: 10px;
}

.modalDate {
    display: flex;
    font-size: 16px;
    align-items: center;
    color: gray;
    font-weight: bold;
    margin-bottom: 10px;
}

.closeButton {
    float: right;
    cursor: pointer;
    border: transparent;
    background-color: transparent;
    font-size: 20px;
    transition: transform 0.2s ease;
}

.closeButton:hover {
    transform: rotate(10deg); 
}

.closeButton:active {
    transform: rotate(0deg); 
}

.modalEvents {
    padding-top: 10px;
}

.eventsContainer {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.eventItem {
    padding: 10px 15px;
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    font-size: 16px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.eventItem:hover {
    background-color: #f0f0f0;
}

.eventItem p {
    margin: 0;
    flex: 1;
}

.eventLabel {
    display: flex;
    align-items: center;
    width: 100%;
}

.eventLabel input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.customCheckbox {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-right: 10px;
    border: 1px solid #ccc; 
    transition: background-color 0.3s ease, border-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customCheckbox::after {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.eventLabel input[type="checkbox"]:checked + .customCheckbox::after {
    background-color: rgb(117, 167, 196);
}

.eventItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.deleteButton {
    background: none;
    border: none;
    color: #000000;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

