.Features {
    background: #DAEBFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
}

.centerText {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem; 
    font-weight: bold;
}

.featureItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 15px;
}

.featureItem.reverse {
    flex-direction: row-reverse;
}

.featureContent {
    flex: 1;
    margin-right: 20px;
}

.featureItem.reverse .featureContent {
    margin-right: 0;
    margin-left: 20px;
}

.featureImage {
    margin-left: 20px;
    flex-shrink: 0;
}

.featureItem.reverse .featureImage {
    margin-left: 0;
    margin-right: 20px;
}

.featureImage img {
    width: 500px;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.infoSection {
    max-width: 1000px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 15px;
    line-height: 1.6;
}

.learnMore {
    display: block;
    margin-top: 10px;
    color: blue;
    text-decoration: underline;
}

.infoSection h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.6rem; 
    font-weight: bold;
}
