.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    background: #fff;
    padding: 40px 60px;
    border-radius: 10px;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

h2 {
    margin-top: 0;
    font-size: 28px;
    margin-bottom: 30px;
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 450px;
    overflow: auto;
}

li {
    margin: 10px;
}

.testButton {
    background: #9acaff;
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    align-items: flex-start;
    width: 220px;
    height: 130px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.testButton:hover {
    border-bottom: 3px solid #606565;
    transform: translate3d(0px, -2px, 0px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.testButton:active {
    transform: translate3d(0px, 2px, 0px);
}

.buttonContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.testName {
    font-weight: bold;
    text-align: left;
    color: black;
}

.dateTime {
    display: flex;
    align-items: center;
    text-align: left;
    color: black;
}

.calendarImage {
    margin-right: 8px;
    width: 25px;
    height: 25px;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    margin-right: 15px;
    margin-top: 10px;
}

.closeButton:hover {
    transform: rotate(10deg);
    transition: 0.3s ease;
}

/* .closeIcon {
    transition: transform 0.2s ease;
} */
