@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.container {
    display: flex;
    flex-direction: column;
    padding: 30px;
} 

.greeting {
    display: flex;
    flex-direction: column;
    animation: fadeIn 2s ease-in; /* Apply the animation */
    margin-bottom: 30px;
    margin-left: 60px;
    text-align: left;
}

.name {
    font-size: 300%;
    font-weight: 600;
    margin-top: 10;
    margin-bottom: 20px;
    line-height: 1.2;
    display: block;
    color: black;
    color: #ffb703;
    color: #355070;
}

.line{
    font-size: 220%;
    font-weight: 600;
    line-height: 1.2;
    display: block;
    color: #4663ac;
    
}

.createQuiz, .yourQuizzes, .yourFlashcards {
    padding: 20px 20px 20px 0px;
    margin: 10px 60px 0px 60px;
    /* animation: fadeIn 2s ease-in; */
  }

h2 {
    font-size: 28px;
    /* color: #4663ac; */
    color: #08293c; /* black */
}

.createQuiz h2 {
    margin-bottom: 20px;
}
  
.createQuiz form {
    display: flex;
    flex-direction: column;
}

.createQuiz input[type='text'] {
    padding: 10px;
    border: 1px solid #253852;
    border-radius: 4px;
    width: 550px;
    margin: 0px 0px 20px 0px;
    background-color: transparent;
}

.difficultyAndChooseFile {
    display: flex;
    width: 560px;
}

.difficulty, .chooseFile {
    padding: 10px;
    border: 1px solid #253852;
    border-radius: 4px;
    margin: 0px 10px 20px 0px;
    background-color: transparent;
    cursor: pointer;
}

.difficulty {
    width: 300px;
}

.chooseFile {
    width: 100%;
}

.createQuiz p {
    margin-top: 20px;
    color: #ed3b3b;
    font-weight: 500;
}

.createQuiz button {
    background-color: transparent;
    font-weight: 600;
    padding: 10px 20px;
    border: 2.2px solid #08293c;
    width: fit-content;
    transition: 0.2s;
    border-radius: 4px;
}

.createQuiz button:hover {
    background-color:rgba(70, 99, 172, 0.5);
    cursor: pointer;
    transform: translate3d(0px, -2px, 0px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.createQuiz button:active {
    transition: 0.2s;
    transform: translate3d(0px, 2px, 0px);
}

.quizList, .flashcardList {
    margin-top: 10px;
    display: flex;
    /* height: 255px; */
    overflow-x: auto;
    white-space: nowrap;
}

.selectedButton, .notSelectedButton {
    margin: 10px 10px 0px 0px;
    border: solid #78979a;
    border-radius: 10px;
    padding: 7px;
    cursor: pointer;
}

.yourQuizzes .selectedButton {
    background-color: #95d6dd;
}

.yourQuizzes .notSelectedButton {
    background-color: transparent;
    transition: 0.5s;
}

.yourQuizzes .notSelectedButton:hover{
    background-color: #95d6dd;
    transform: translate3d(0px, -2px, 0px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.noQuizMessage {
    margin-top: 20px;
    font-weight: 800;
    /* color: #b02727; */
}
.testTypeCheckbox {
    font-weight: bold;
    align-content: center;
    display: flex;
    align-items: center;
}

.testTypeCheckbox label {
    margin-right: 20px;  /* Add space between checkboxes */
    display: flex;
    align-items: center;
}

.testTypeCheckbox label:hover {
   cursor: pointer;
}

/* Custom checkbox style */
.testTypeCheckbox input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    appearance: none;
    border: 2.2px solid #08293c;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    position: relative;
}

.testTypeCheckbox input[type="checkbox"]:checked {
    background-color: #29b41f;
    border-color: #29b41f;
}

.testTypeCheckbox input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 7px;
    width: 3px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}