.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: linear-gradient(to right, #c4dfdf, #d2e9e9, #e3f4f4, #f8f6f4);
    position: sticky;
    top: 0;
    height: 80px;
}

.logoLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    flex-shrink: 0;
}

.logo {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

.logoText {
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.navItems {
    display: flex;
    flex-grow: 1;
}

.navLink {
    /* margin-right: 20px; */
    margin-left: 30px;
    text-align: left; 
    text-decoration: none;
    color: #333;
    position: relative;
}

.navLink::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #333;
    transition: width 0.5s ease-out;
    position: absolute;
    bottom: -2px;
    transform: translateX(-50%);
}

.navLink:hover::after {
    width: 100%;
    left: 0;
    transform: translateX(0);
}

.navLink:not(:hover)::after {
    width: 0;
    left: 0;
    transform: translateX(0);
}

.navLinkLogin button {
    height: 32px;
    width: 80px;
    border: 1px solid #007bff;
    border-radius: 5px;
    color: #007bff;
    margin-left: auto;
    cursor: pointer;
    background: transparent;
    font-size: 16px;
}
