.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: linear-gradient(to right, #c4dfdf, #d2e9e9, #e3f4f4, #f8f6f4);
    position: sticky;
    top: 0;
    
}

.logoLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    flex-shrink: 0;
}

.logo {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

.logoText {
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.navItems {
    display: flex;
    justify-content: flex-start;
    align-items: left;
    
}

.navItems .navLink {
    margin-right: 20px;
    margin-left: 20px; 
    text-align: left; 
    text-decoration: none;
    color: #333;
}

.navLinkLogin {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
    color: #007bff;
    margin-left: auto; 
}
