.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #daebff;
    position: sticky;
    top: 0;
    height: 80px;
    z-index: 1000;
}

.logoLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    flex-shrink: 0;
}

.logo {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

.logoText {
    font-size: 20px;
    color: #4663ac;
    font-weight: bold;
    text-decoration: none;
}

.navItems {
    display: flex;
    flex-grow: 1;
}

.navLink {
    margin-left: 30px;
    text-align: left;
    align-content: center;
    text-decoration: none;
    color: #333;
    position: relative;
}

.notCurrentPage::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #333;
    transition: width 0.5s ease-out;
    position: absolute;
    bottom: -2px;
    transform: translateX(-50%);
}

.notCurrentPage:hover::after {
    width: 100%;
    left: 0;
    transform: translateX(0);
}

.notCurrentPage:not(:hover)::after {
    width: 0;
    left: 0;
    transform: translateX(0);
}

.currentPage {
    position: relative;
}

.currentPage::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #333;
    position: absolute;
    bottom: -2px;
    justify-self: center;
    transform: translateX(0);
}

.profileAndLogin {
    display: flex;
    align-items: center;
}

.profileIcon {
    margin-right: 20px;
    margin-top: 5px;
    width: 33px;
    height: 33px;
    color: rgba(70, 99, 172, 0.7);
    border-radius: 20px;
    cursor: pointer;
    font-size: 200px;
    font-weight: bold;
}

.profileIcon:hover {
    background-color: rgba(70, 99, 172, 0.3);
}

.profileClicked {
    width: 33px;
    background-color: rgba(70, 99, 172, 0.3);
}

.navLinkLogin {
    height: 32px;
    width: 80px;
    border: 2px solid rgba(70, 99, 172, 0.7);
    border-radius: 5px;
    color: rgba(70, 99, 172, 0.7);
    margin-left: auto;
    cursor: pointer;
    background: transparent;
    font-size: 16px;
    font-weight: bold;
    transition: 0.2s;
}

.navLinkLogin:hover {
    background-color: rgba(70, 99, 172, 0.3);
}

.navLinkLogin:active {
    transform: translateY(3px);
}