.profile-container {
    max-width: 600px;
    margin: 125px auto;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: "Arial", sans-serif;
    display: flex;
    align-items: center;
}

.profile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -135px;
    flex-grow: 1;
}

.profile-image-wrapper {
    position: relative;
    width: 220px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.profile-image-background {
    width: 220px;
    height: 220px;
    background-color: rgba(70, 99, 172, 0.7);
    border-radius: 50%;
    position: absolute;
    z-index: 0;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}

.name {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.email {
    text-align: center;
    margin: 5px 0;
    color: #555;
}

.edit-icon {
    margin-left: 10px;
    font-size: 22px;
    cursor: pointer;
}

.progress-container {
    display: flex;
    margin: 20px 0px 20px 0px;
    padding: 0px 75px;
    width: 450px;
    height: 120px;
    background-color: #eaeff9;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
}

.progress-bar {
    width: 83px;
}

.days-since {
    font-size: 16px;
    color: black;
    width: 180px;
}

.profile-container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.profile-container button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.profile-container button:hover {
    background-color: #75aae2;
    color: #fff;
}

.profile-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.password-change-container input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;

.tickIcon {
  font-size: 100%;
  color: green; 
  background-color: transparent;
  border-color: transparent;
  display: inline;
}

.closeIcon {
  font-size: 100%;
  color: red; 
  background-color: transparent;
  border-color: transparent;
  display: inline;
}

.sendEmailBtn {
  width: 40%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}

.sendEmailBtn:hover {
   background-color: #007bff; 
  color: #fff;
}

.sendEmailBtn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}