/* General Styles for Quiz Container */
.QuizContainer {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 500px;
    margin: auto;
}

/* Question Styles */
.Question {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}

/* Options Container */
.optionsContainer {
    display: flex;
    flex-direction: column;
}

/* Individual Option */
.option {
    background-color: #fff;
    border: 2px solid #ddd;
    padding: 10px 15px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.option:hover {
    background-color: #e9e9e9;
    border-color: #ccc;
}

/* Selected Option */
.selectedOption {
    background-color: #007BFF; /* Change this color to match your design */
    color: #fff;
    border-color: #007BFF; /* Same as background to give a solid look */
}

/* Buttons Container */
.buttonsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Button Styles */
.btnPrev, .btnNext {
    background-color: #007BFF; /* Primary Button Color */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btnPrev:disabled, .btnNext:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.btnPrev:hover, .btnNext:hover {
    background-color: #0056b3; /* Darken button color on hover */
}

.btnPrev {
    opacity: 0.7; /* Make previous button slightly transparent to indicate less emphasis */
}

.btnNext {
    font-weight: bold;
}
