
.QuizResultsContainer {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
  
}

.Header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    text-decoration: underline;
    font-weight: bold;
    font-size: 40px;
}

.score {
    font-size: 40px;
    font-weight: bold;
    color: #dc3838;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
   
}

.attempt{
    font-size: 40px;
    font-weight: bold;
    color: #dc3838;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.QuestionBlock {
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    
}

.Question{
    /* background-color: #9bbec8; */
    font-size: 30px;
    font-weight: bold;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    width: 100%; 
    padding: 50px;
   
}

.OptionsContainer {
    margin:5px;
    display: flex;
    flex-direction: column;
}

.CorrectIcon, .IncorrectIcon {
    margin-right: 8px; 
    vertical-align: middle; 
    padding: 0px;
}

.CorrectIcon{
    color: green;
    font-size: 40px;
    
}

.IncorrectIcon{
    color: red;
    font-size: 30px;
    font-weight: 500px;
    stroke-width: 1.3px;
}

.Option {
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 15px 30px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    width: 800px;
}

.UserAnswer {
    background-color: #ffdede; /* Light red for user's answer */
}

.UnselectedOption {
    background-color: white; /* Light grey background for unselected options */
}

.CorrectAnswer {
    background-color: #d4edda; /* Light green for correct answer */
}


.Explanation {
    margin-top: 10px;
    font-style: italic;
    /* background-color: greenyellow;  */
    padding: 10px;
    /* border-left: 15px solid #FF6F61;  */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    width: 100%;
    text-align: center; 
    font-weight: bold; 
}

.ExplanationForCorrectAns {
    background-color: #80ccb3;
}

.ExplanationForIncorrectAns {
    background-color: #ffcccb;
}

.BtnContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;   
    margin-top: 60px;   
}

.HomeButton, .buttonNavigate{
    display: flex;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px 10px;
    color: black;
    font-size: 16px;
    border: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
    cursor: pointer;
    width: 400px;
    transition: background-color 0.3s, box-shadow 0.3s;  
    background-color: rgba(70, 99, 172, 0.4);
    justify-content: center;
    align-items: center;
}

.HomeButton:hover, .buttonNavigate:hover{
    background-color: rgba(70, 99, 172, 0.7);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); 
}