@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.entirePage {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 30px 150px 50px 30px;
}

.entirePage>p {
    font-weight: 600;
    animation: fadeIn 2s ease-in;
}

.entirePage .topline {
    font-size: 260%;
    margin-bottom: 20px;
    background: -webkit-linear-gradient(left, #0172F2, #3a6073); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.entirePage .bottomline {
    font-size: 230%;
}

.generateSchedule {
    margin-top: 30px;
    padding: 20px 0px;
}

.generateSchedule h3 {
    font-size: 28px;
    color: #0172F2;
}

.inputFields {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
}

.inputFields p {
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: 600;
    color: #363636;
}

.inputFields select,
.inputFields input {
    background-color: transparent;
    border: 1px solid black; 
    border-radius: 4px;
    font-size: 14px;
}

.selectFlashcards {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
}

.selectFlashcards select {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0px 10px;
}

.selectFlashcards select option {
    margin-top: 3%;
}

.inputExamNameAndStartDate, .inputColourAndEndDate {
    display: flex;
    flex-direction: column;
    width: 330px;
}

.inputExamNameAndStartDate input, .endDate input {
    padding: 10px;
    margin-right: 30px;
    width: calc(100% - 20px);
}

.examColour input {
    padding: 5px;
    width: 25%;
    height: 40px;
}

.generateScheduleButton {
    margin-top: 25px;
    background-color: transparent;
    padding: 10px 25px;
    border: 2.2px solid #08293c;    
    border-radius: 4px;
    font-weight: 600;
    transition: 0.2s;
}

.generateScheduleButton:hover {
    background-color: #9fe7d1;
    cursor: pointer;
    transform: translate3d(0px, -2px, 0px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.generateScheduleButton:active {
    transition: 0.2s;
    transform: translate3d(0px, 2px, 0px);
}

/*
.inputFields button {
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.inputFields button:hover {
    background-color: #0056b3; 
} */

.calendarContainer {
    margin-top: 50px;
    cursor: pointer;
    position: relative;
}

.testing {
    position: absolute;
    top: 0px;
    left: 645px;
    background-color: var(--fc-button-bg-color);
    padding: 10px;
    border-radius: 5px;
    border-color: var(--fc-button-border-color);
    color: var(--fc-button-text-color);
}

.calendarContainer .fc-day {
    position: relative;
    transition: background-color 0.3s ease; 
}

.calendarContainer .fc-day:hover {
    background-color: #7aa4ce; 
    cursor: pointer; 
}

.fc-daygrid-day-frame, .fc-toolbar, .fc-daygrid-event, .fc-day-today, .fc-daygrid-day-number {
    border: none;
    background-color: transparent;
    color: #333; 
}

.fc-button:hover {
    background-color: #0056b3;
}

.fc-daygrid-event {
    background-color: #007bff; 
    color: white;
    border-radius: 4px;
    padding: 5px;
}

.fc-day-today {
    background-color: #e2e6ea;
}

.fc-daygrid-event.fc-event.fc-event-end,
.fc-daygrid-event.fc-event.fc-event-start {
    margin: 5px;
}


.fc-event {
    cursor: pointer; 
    transition: background-color 0.3s; 
}


.fc-daygrid-day-number {
    font-weight: bold; 
}
