:root {
    --fc-border-color: #998e8e3d;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.entirePage {
    display: flex;
    /* gap: 20px; */
    padding: 20px;
    align-items: stretch;
}

.schedule {
    display: flex;
    flex-direction: column;
    padding: 30px 50px 60px 50px;
    background-color: #b1d2f854;
    margin-top: 10px;
    height: fit-content;
}

.schedule>p {
    font-weight: 600;
    animation: fadeIn 2s ease-in;
}

.schedule .topline {
    font-size: 200%;
    margin-bottom: 20px;
    background: -webkit-linear-gradient(left, #0172F2, #3a6073); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.schedule .bottomline {
    font-size: 170%;
}

.calendarContainer {
    margin-top: 50px;
    cursor: pointer;
    font-size: 13px;
}

.calendarContainer .fc-day {
    position: relative;
    transition: background-color 0.3s ease; 
}

.calendarContainer .fc-day:hover {
    background-color: #7aa4ce; 
    cursor: pointer; 
}

.fc-daygrid-day-frame,
.fc-toolbar, 
.fc-daygrid-event, 
.fc-day-today, 
.fc-daygrid-day-number {
    border: none;
    background-color: transparent;
    color: #333; 
}

.fc-button:hover {
    background-color: #0056b3;
}

.fc-daygrid-event {
    background-color: #007bff; 
    color: white;
    border-radius: 4px;
    padding: 5px;
}

.fc-day-today {
    background-color: #e2e6ea;
}

.fc-daygrid-event.fc-event.fc-event-end,
.fc-daygrid-event.fc-event.fc-event-start {
    margin: 5px;
}

.fc-event {
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.fc-daygrid-day-number {
    font-weight: bold; 
}

.todaysEventsAndGenerateSchedule {
    padding: 0px 15px 0px 25px;
}

.generateSchedule {
    margin-top: 60px;
    background-color: #fff3c8;
    padding: 10px 20px;
    border-radius: 8px;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); */
    width: 220px;
}

.generateSchedule h3 {
    font-size: 14.4px;
    /* text-decoration: underline; */
    margin-top: 8px;
}

.inputFields select,
.inputFields input {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 13px;
}

.examName, .selectFlashcards, .startDate, .endDate, .examColour {
    margin-top: 20px;
    font-size: 13px;
}

.examName input, .startDate input, .endDate input {
    width: 181px;
    padding: 10px;
    margin-top: 5px;
}

.examColour input {
    margin-top: 5px;
    
}

.selectFlashcards {
    width: 181px;
    /* padding: 10px; */

}

.css-13cymwt-control, .css-t3ipsp-control {
    min-height: 43px !important; 
    background-color: transparent !important;
    border-color: black !important;
    font-size: 13px;
}

.css-1xc3v61-indicatorContainer {
    color: black !important;
}

.css-1u9des2-indicatorSeparator {
    background-color: black !important;
}

.examColourAndSubmit {
    display: flex;
    margin-bottom: 10px;
}

.generateScheduleButton {
    margin: 34px 0px 0px 20px;
    background-color: transparent;
    width: 110px;
    height: 35px;
    padding: 8px;
    border: 2px solid #08293c;    
    border-radius: 4px;
    font-weight: 600;
    transition: 0.2s;
    cursor: pointer;
    text-align: center;
    font-size: 13px;
}

.generateScheduleButton:hover {
    background-color: rgba(70, 99, 172, 0.4);
    transform: translate3d(0px, -2px, 0px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.generateScheduleButton:active {
    transition: 0.2s;
    transform: translate3d(0px, 2px, 0px);
}