body {
  background: #DAEBFF;
}

.allSidebarWords {
  border-left: 3px solid black;
  height: fit-content;
}

.sidebar {
  float: left;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: calc(100vh - 80px);
  position: sticky;
  top: 80px;
}

.sidebarElement {
  margin: 10px 0;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease; /* Smooth transition for hover effects */
  text-decoration: none;
}

.sidebarElement:hover {
  background-color: #f0f0f0;
  transform: translateY(-2px); /* Small lift effect on hover */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Enhanced shadow on hover */
}

.sidebarElement:active {
    transition: 0.2s;
    transform: translate3d(3px, -2px, 0px);
}

.icon {
  font-size: 20px;
  color: #427d9d;
  margin-right: 15px; /* Space between icon and text */
}

.word {
  color: #333;
}
